<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokemon Desk</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/pokeball.png') }}" title="Poke Desk">
    </head>
<body>
    <div class="container">
        <div class="input-group">
            <label class="label">¡Registro exitoso! Ya puedes iniciar sesión.</label>
            <div class="links">
                <a href="/login" class="ahome_link">Iniciar sesion</a>
            </div>
        </div>
    </div>
</body>
</html>